{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
	<h1> legalbucket.blog </h1>
	<p> Personal blog from Charlie, who is the coder and writer of this blog. </p>
</div>
{% for post in posts %}
	<h2>{{post}} <small>{{post.pub_date}}</small></h2>
	{{ post.excerpt|safe }}
	<a class="btn" href="{{post.get_absolute_url}}">Read more..</a>
{% endfor %}
{% endblock %}